/**
 * @license
 * MyFonts Webfont Build ID 4087712, 2021-05-12T10:28:43-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvertaStd-Bold by Intelligent Design
 * URL: https://www.myfonts.com/fonts/intelligent-foundry/averta-standard/bold/
 * 
 * Webfont: AvertaStd-Extrabold by Intelligent Design
 * URL: https://www.myfonts.com/fonts/intelligent-foundry/averta-standard/extra-bold/
 * 
 * Webfont: AvertaStd-Light by Intelligent Design
 * URL: https://www.myfonts.com/fonts/intelligent-foundry/averta-standard/light/
 * 
 * Webfont: AvertaStd-Regular by Intelligent Design
 * URL: https://www.myfonts.com/fonts/intelligent-foundry/averta-standard/regular/
 * 
 * Webfont: AvertaStd-Semibold by Intelligent Design
 * URL: https://www.myfonts.com/fonts/intelligent-foundry/averta-standard/semibold/
 * 
 * 
 * Webfonts copyright: Copyright (c) 2015 by Kostas Bartsokas. All rights reserved.
 * 
 * © 2021 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3e5fa0");
  
@font-face {
  font-family: "AvertaStd-Extrabold";
  src: url('webFonts/AvertaStdExtrabold/font.woff2') format('woff2'), url('webFonts/AvertaStdExtrabold/font.woff') format('woff');
}
@font-face {
  font-family: "AvertaStd-Light";
  src: url('webFonts/AvertaStdLight/font.woff2') format('woff2'), url('webFonts/AvertaStdLight/font.woff') format('woff');
}
@font-face {
  font-family: "AvertaStd-Regular";
  src: url('webFonts/AvertaStdRegular/font.woff2') format('woff2'), url('webFonts/AvertaStdRegular/font.woff') format('woff');
}
@font-face {
  font-family: "AvertaStd-Bold";
  src: url('webFonts/AvertaStdBold/font.woff2') format('woff2'), url('webFonts/AvertaStdBold/font.woff') format('woff');
}
@font-face {
  font-family: "AvertaStd-Semibold";
  src: url('webFonts/AvertaStdSemibold/font.woff2') format('woff2'), url('webFonts/AvertaStdSemibold/font.woff') format('woff');
}

