// Front page styles only

/*
 * Service Section Home Page Styles
 */

.service-section
    display: block !important

    @media screen and ( min-width: $desktop )
        display: flex !important
        

.service-card-cols
    display: flex !important
    margin-top: 100px !important
    padding-left: 0 !important
    padding-right: 0 !important

    @media screen and ( min-width: $tablet )
        padding: 0 20% !important
        

    .service-col-right
        margin-top: -100px


.service-card
    border-radius: 17px
    -webkit-box-shadow: 0px 3px 6px #00000029
    box-shadow: 0px 3px 6px #00000029
    margin: 20px 10px 20px 0
    padding: 11%

    p 
        font-size: 12px !important

    @media screen and ( min-width: $desktop )
        margin: 20px

        p
            font-size: 14px !important
        

    figure
        margin-bottom: 0 !important

        img
            display: block

.btn-dark-border
    border-color: #111111 !important

    &.is-outlined:hover, &.is-outlined:focus
        background-color: #111111 !important
        color: #ffffff !important

.btn-purple-border
    border-color: #8873B4!important

    &.is-outlined:hover, &.is-outlined:focus
        background-color: #8873B4 !important
        color: #ffffff !important

.slider-section
    background-color: #F8F8F8

    .flickity-enabled
        .flickity-button-icon
            fill: rgba(0,0,0,0.5)

    .flickity-button:focus
        -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.5)
        box-shadow: 0 0 0 5px rgba(0,0,0,0.5)

    .flickity-page-dots
        max-width: unset !important

        .dot
            background-color: #818181
            height: 15px
            opacity: 1
            width: 15px

            &.is-selected
                background-color: $primary

    .slider-section-left
        padding-top: 30px !important

        .heading
            border: 1px solid #DEDEDE
            border-radius: 17px
            display: flex
            flex-flow: column wrap
            justify-content: center
            margin-bottom: 30px !important
            min-height: 86px
            transition: all $default-transition-timing ease

            & a 
                color: #614C8D
                display: block
                padding: 25px 20px
                width: 100%

            &:hover
                -webkit-box-shadow: 0 3px 6px #00000029
                box-shadow: 0 3px 6px #00000029

    figure.work-image
        margin-bottom: 0 !important

        img
            height: 275px
            width: auto
            object-fit: cover

        & a 
            display: block

    .work-group
        -webkit-box-shadow: 0px 5px 12px #00000014
        box-shadow: 0px 5px 12px #00000014

        .work-text
            padding: 0 

            & a 
                border: 1px solid #CECECE
                display: block
                padding: 15px 0

#slider-our-work
    width: 100% !important

    .flickity-viewport
        height: 375px !important

.steps-list
    display: flex !important
    padding-left: 1% !important
    padding-right: 1% !important

    .step-text
        font-family: "AvertaStd-light"

        @media screen and ( max-width: $tablet - 1 )
            font-size: 16px !important
            

    .step-number
        font-family: "AvertaStd-bold"
        font-size: 72px
        line-height: 60px

        @media screen and ( max-width: $tablet - 1 ) 
            font-size: 48px !important
            

.box-shadow-gray 
    img
        -webkit-box-shadow: 10px 10px 0 0 #E3E1E6
        box-shadow: 10px 10px 0 0 #E3E1E6

.box-shadow-white
    img
        -webkit-box-shadow: 10px 10px 0 0 #FFFFFF
        box-shadow: 10px 10px 0 0 #FFFFFF

h3.companies 
    font-family: "AvertaStd-bold" !important

.hero-cover
    img
        max-height: 100vw !important

        @media screen and ( min-width: $tablet )
            max-height: none 


@media screen and ( max-width: $tablet - 1 )
    #main-nav > div.navbar-brand > a.navbar-item
        flex: 70%
        justify-content: center
        margin-left: 60px

    #slider-service-slider
        margin-bottom: 100px
        width: 100%

        .flickity-button.previous
            bottom: -110px
            height: 60px
            left: 45%
            top: unset
            width: 60px

        .flickity-button.next
            bottom: -110px
            height: 60px
            right: 45%
            top: unset
            width: 60px

        .flickity-button-icon
            background-color: $primary
            border-radius: 50%
            fill: #ffffff
            left: 0
            height: 60px
            padding: 8px
            top: 0
            width: 60px

        .flickity-page-dots
            bottom: -125px


        .slide
            padding-left: 1em !important
            padding-right: 1em !important

            .slide-top
                display: flex
                margin-bottom: 0 !important

                figure
                    margin-bottom: 20px !important

            .slide-text
                font-size: 16px !important

    .slider-section-right
        margin-left: 0 !important

@media screen and ( max-width: $desktop - 1 )
    .columns.tablet-full
        display: block !important
        


            
            
